.fullscreen {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    color: black;
    font-size: 30px;
    padding: 20px 10px;
    width: 100%;
}

.nav-content i {
    color: white;
    padding-right: 5px;
}

.fa-sort-desc {
    padding-left: 40px;
}

.header-website-citizen {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
    color: mintcream;
}

.openbtn {
    border-radius: 20px;
}

.btn-down-bm {
    border-radius: 10px;
    color: #101c4d;
}
.logout {
    width: 100%;
    display: flex;
    text-align: end;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    padding-right: 50px;
}

.logout i {
    /* padding: 5px; */
    font-size: 25px;
    /* padding-right: 10px; */
    padding-top: 6px;
}

.logout p {
    font-weight: 800;
    /* padding: 5px 10px; */
    padding: 5px 20px;
    font-size: 20px;
}

.logout a {
    color: black;
    padding: 5px 0px;
}

.logout a:hover {
    text-decoration: none;
    color: rgb(33, 59, 129);
}

.logout button {
    background-color: #a2c2eb;
}

.logout .dropdown-menu {
    padding: 15px 5px;
    top: 0px;
    left: -25px !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.function_table_statistical {
    color: #ffffff;
    padding: 8px 8px 8px 28px;
}

.sub_function {
    padding: 8px 8px 8px 10px;
}

.sidebar a:hover {
    color: #000000;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#fullscreen {
    transition: margin-left .5s;
    padding: 16px;
}

.nav-content>div:hover {
    background-color: #b4b1b1;
    color: black;
}


/* .help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.help .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
}

.help div {
    padding: 10px 50px;
}

.help div .title {
    font-weight: 600;
    font-size: 20px;
}

.help div .content {
    margin-left: 20px;
}